{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style2.css' %}?20181209">
    <title>main</title>
</head>

<body>
<div class="header">
    <h1 class="logo_text">SPACEWORK</h1>
    <div class="ent_reg">
        <p class="header_btn">Hello, {{ request.user }}</p>
        <a class="header_btn" href="{% url 'logout' %}">выход</a>
    </div>
</div>

<div class="mainspace">
    <div class="menu">
        <p class="menu_name">Меню</p>
        <div class="menu_title">
            {% block nav %}
                {% for work_field in work_fields %}
                    <div class="menu_list_top">
                        <a href="{% url 'main_active' work_field.pk %}">
                            <p class="space_name">
                                {{ work_field.title }}
                            </p>
                        </a>
                        <p class="edit_btn_mini">
                            <a href="{% url 'edite_work_field' work_field.pk %}">
                                <img src="../static/img/edit.png" width="28" height="28">
                            </a>
                        </p>
                        <p class="delete_btn_mini">
                            <a href="{% url 'delete_work_field' work_field.pk %}">
                                <img src="../static/img/delete_X.svg" width="28" height="28">
                            </a>
                        </p>
                    </div>
                {% endfor %}
                {% block add_work_field %}
                    <a href="{% url 'add_work_field' %}">
                        <p class="add_space_btn">
                            Добавить поле
                        </p>
                    </a>
                {% endblock %}
            {% endblock %}


        </div>
    </div>

    <div class="space">
        {% block content %}
            <h1>Выберите пространство</h1>
        {% endblock %}
    </div>
</div>
{% block window %}
{% endblock %}
{% block script %}

{% endblock %}
</body>

</html>