{% extends 'main.html' %}

{% block content %}
    {% for task_field in task_fields %}
        <div class="left_list">
            <p class="list_title">{{ task_field.title }}</p>
            <a href="{% url 'edite_task_field' work_field.pk task_field.pk %}">edit task_field |</a>
            <a href="{% url 'delete_task_field' work_field.pk task_field.pk %}">delete task_field</a>
            {% for task in tasks %}
                {% if task.taskField == task_field %}
                    <div class="item">
                        <div class="item_data">
                            <div class="item_top">
                                <div class="top_btns">
                                    <button class="delete_btn">
                                        <img src="/img/delete_bin.png" width="32" height="32">
                                    </button>
                                    <button class="edit_btn">
                                        <img src="/img/edit.png" width="32" height="32">
                                    </button>
                                </div>
                                <p class="item_title">
                                    {{ task.title }}
                                <p>
                            </div>
                        </div>

                        <div class="item_bot">
                            <p class="date">{{ task.created }}</p>
                            <input type="checkbox" class="isDone">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
             <div class="item">
                 <a href="{% url 'add_task' work_field.pk task_field.pk %}">Add new task</a>
             </div>
        </div>
    {% endfor %}
    <div class="left_list">
        <p class="list_title"><a class="list_title" href="{% url 'add_task_field' work_field.pk %}">Add new task</a></p>
    </div>
{% endblock %}