{% extends 'main.html' %}

{% block content %}
    {% for task_field in task_fields %}
        <div class="left_list">
            <p class="list_title">{{ task_field.title }}</p>
            {% for task in tasks %}
                {% if task.taskField == task_field %}
                    <div class="item">
                        <div class="item_data">
                            <div class="item_top">
                                <div class="top_btns">
                                    <button class="delete_btn">
                                        <img src="/img/delete_bin.png" width="32" height="32">
                                    </button>
                                    <button class="edit_btn">
                                        <img src="/img/edit.png" width="32" height="32">
                                    </button>
                                </div>
                                <p class="item_title">
                                    {{ task.title }}
                                <p>
                            </div>
                        </div>

                        <div class="item_bot">
                            <p class="date">{{ task.created.ctime }}</p>
                            <input type="checkbox" class="isDone">
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="item">
                <a href="">Add new task</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block window %}
    <form method="POST">
        {% csrf_token %}
        <div id="add_new_task_blackout">
            <div id="add_new_task_window">
                <p class="add_new_task_title">Добавить</p>
                <div class="cool_text_input">
                    {{ task_form.title }}
                </div>
                <div class="case">
                    <div class="cool_btn">
                        <a class="case_text" href="#">Отмена</a>
                    </div>
                    <div class="cool_btn">
                        <input type="submit" value="Добавить" class="case_text">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>

        //Query All input fields
        let form_fields = document.getElementsByTagName('input');

        form_fields[1].placeholder = 'Задание';

        form_fields[1].className = "add_item_titel"
    </script>
{% endblock %}

