* {
    margin: 0px;
    font-size: 26px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


body {
    background-color: rgb(214, 214, 214);
    overflow-x: hidden;
}

.item {
    min-height: 38px;
    margin-top: 10px;
    margin-left: 10px;
    border: 3px solid rgb(118, 131, 171);
    background-color: white;
    width: 400px;
    border-radius: 10px;
}

.item_bot {
    margin-top: 3px;
    display: inline-flex;
}

.date {
    background-color: rgb(196, 196, 196);
    width: 137px;
    padding-left: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
}

.item_title {
    margin: 3px 3px 0px 5px;
    word-wrap: break-word;
}

.delete_btn:hover {
    background: rgba(118, 131, 171, 0.24);
    border-radius: 5px;
    cursor: pointer;
}


.delete_btn {
    height: 36px;
    float: right;
    margin: 0px;
    margin-right: 3px;
    padding: 0px;
    outline: none;
    border: 0;
    background: transparent;
    margin-top: 1px;
    margin-bottom: -6px;
}

.edit_btn:hover {
    background: rgba(118, 131, 171, 0.24);
    border-radius: 5px;
    cursor: pointer;
}


.edit_btn {
    height: 36px;
    float: right;
    margin: 0px;
    margin-right: 3px;
    padding: 0px;
    outline: none;
    border: 0;
    background: transparent;
    margin-top: 1px;
    margin-bottom: -6px;
}

.top_btns {
    height: 38px;
    border: 3px solid rgb(118, 131, 171);
    float: right;
    margin-right: -3px;
    margin-top: -6px;
    margin-left: 3px;
    border-radius: 10px;
}

.isDone {
    margin-right: 3px;
    margin-left: 2px;
    margin-top: -2px;
    width: 36px;
    height: 36px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: rgb(196, 196, 196);
    border-radius: 30%;
}

.isDone:hover {
    cursor: pointer;
    border: 3px solid rgb(48, 68, 127);
}


.isDone:checked {
    background-color: rgb(118, 212, 189);
}

.header {
    height: 70px;
    background-color: rgb(20, 43, 111);
    align-items: center;
    display: flex;
    width: 100%;
}

.logo_text {
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 60px;
    padding-left: 300px;
    padding-right: 20px;
}

.ent_reg {
    display: flex;
    align-items: center;
}

.mainspace {
    display: flex;
}


.space {
    position: absolute;
    margin-left: 300px;
    width: calc(100% - 300px);
    display: flex;
    overflow-x: auto;
    height: calc(100% - 70px);
}

.left_list {
    margin-left: 100px;
}

.middle_list {
    margin-left: 100px;
}

.rigth_list {
    margin-left: 100px;
    margin-right: 170px;
}

.menu {
    position: absolute;
    height: calc(100% - 70px);
    width: 300px;
    background-color: rgb(235, 235, 235);
}

.list_title {
    width: 280px;
    word-wrap: break-word;
    color: rgb(48, 68, 127);
    text-align: center;
    font-size: 35px;
}

.space_name {
    margin-left: -16px;
    word-wrap: break-word;
    width: 230px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 34px;
}

.space_name_not_login {
    margin-bottom: 5px;
    text-align: center;
    font-size: 34px;
}

.space_name:hover {
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
}

.space_names {
    margin-top: 30px;
}

.menu_name {
    color: rgb(48, 68, 127);
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}


#enter_blackout {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#enter_window {
    width: 300px;
    height: 320px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(20, 43, 111, 1), 0 0px 10px rgba(20, 43, 111, 0.2);
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(246, 246, 246);
}

#register_blackout {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#register_window {
    width: 300px;
    height: 440px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(20, 43, 111, 1), 0 0px 10px rgba(20, 43, 111, 0.2);
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(246, 246, 246);
}

.window_title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(41, 62, 123);
    font-size: 35px;
}

#add_new_task_blackout {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#add_new_task_window {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(20, 43, 111, 1), 0 0px 10px rgba(20, 43, 111, 0.2);
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(246, 246, 246);
}

#del_task_blackout {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#del_task_window {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(20, 43, 111, 1), 0 0px 10px rgba(20, 43, 111, 0.2);
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(246, 246, 246);
}

.case {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.del_text_allign {
    margin-top: 10px;
    text-align: left;
}

#edit_task_blackout {
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

#edit_task_window {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0px 10px rgba(20, 43, 111, 1), 0 0px 10px rgba(20, 43, 111, 0.2);
    border-radius: 45px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(246, 246, 246);
}

.cool_btn {
    padding-top: 10px;
    padding-bottom: 7px;
    width: 130px;
    border-radius: 5px;
    background-color: rgb(20, 43, 111);
    font-size: 24px;
}

.cool_btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(20, 43, 111);
    transition: all 0.15s ease;
    cursor: pointer;
}

.case_text {
    color:white;
    background-color: rgb(20, 43, 111);
    border: 0px;
}

.case_text:hover {
    cursor: pointer;
}

.cool_text_input {
    width: 280px;
    padding-left: 20px;
    margin-top: 10px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2), 0 0px 6px rgba(0, 0, 0, 0.2)
}

.cool_text_input:focus {
    outline: none;
}

.white_text {
    color: white;
}

.add_task_btn {
    text-align: center;
    margin-top: 10px;
    margin-left: 13px;
    padding-top: 10px;
    padding-bottom: 7px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(20, 43, 111);
    font-size: 24px;
}

.add_task_btn:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(20, 43, 111);
    transition: all 0.15s ease;
}

.window_bot {
    margin-top: 10px;
    color: rgb(41, 62, 123);
    font-size: 16px;
}

.cool_btn_resize {
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 5px;
    background-color: rgb(20, 43, 111);
    font-size: 24px;
}

.cool_btn_resize:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(20, 43, 111);
    transition: all 0.15s ease;
    cursor: pointer;
}
.header_btn {
    margin-right: 10px;
    color: white;
    background-color: rgb(39, 60, 122);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.header_btn:hover {
    background-color: white;
    color: rgb(20, 43, 111);
    transition: all 0.2s ease;
    cursor: pointer;
}

.footer {
    height: 40px;
}

.rigth_space {
    width: 200px;
    padding-right: 100px;
    margin-left: 130px;
}

.list_top {
    margin-top: 40px;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
}

.menu_list_top {
    margin-top: 5px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;

    display: flex;
    margin-left: 20px;
}

.add_space_btn {
    margin-right: 5px;
    margin-left: 5px;
    word-wrap: break-word;
    width: 290px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 34px;
}

.add_space_btn:hover {
    cursor: pointer;
    background-color: #fff;
    border-radius: 15px;
}