{% extends 'main.html' %}


{% block window %}
    <form method="POST">
        {% csrf_token %}
        <div id="add_new_task_blackout">
            <div id="add_new_task_window">
                <p class="add_new_task_title">Добавить</p>
                {{ form.title }}
                <div class="case">
                    <a class="case_text" href="{% url 'main' %}">
                        <div class="cool_btn">Отмена</div>
                    </a>
                    <div class="cool_btn">
                        <input type="submit" value="save" class="case_text">
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>

        //Query All input fields
        let form_fields = document.getElementsByTagName('input');

        form_fields[1].placeholder = 'Название области';

        form_fields[1].className = "cool_text_input"
    </script>
{% endblock %}