{% extends 'main.html' %}

{% block content %}
    {% for task_field in task_fields %}
        <div class="left_list">
            <div class="list_top">
                <a class="edit_btn" href=""><img
                        src="../../static/img/edit.png" width="35" height="35"></a>
                <p class="list_title">{{ task_field.title }}</p>
                <a class="delete_btn" href=""><img
                        src="../../static/img/delete_bin.png" width="35" height="35"></a>
            </div>
            {% for task in tasks %}
                {% if task.taskField == task_field %}
                    <div class="item">
                        <div class="item_data">
                            <div class="item_top">
                                <div class="top_btns">
                                    <button class="delete_btn">
                                        <img src="../../static/img/delete_bin.png" width="35" height="35">
                                    </button>
                                    <button class="edit_btn">
                                        <img src="../../static/img/edit.png" width="35" height="35">
                                    </button>
                                </div>
                                <div class="item_title">
                                    <p>
                                        {{ task.title }}
                                    <p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="add_task_btn">
                <a class="white_text" href="">Добавить задание</a>
            </div>
            <div class="footer"></div>
        </div>
    {% endfor %}
    <div class="rigth_space">
        <div class="list_top">
            <p class="list_title"><a class="list_title" href="">Добавить
                пространство</a></p>
        </div>
    </div>
{% endblock %}

{% block window %}
    <div id="edit_task_blackout">
        <form method="POST">
            {% csrf_token %}
            <div id="edit_task_window">
                <p class="window_title">Редактирование</p>
                {{ task_field_form.title }}
                <div class="case">
                    <a class="case_text" href="{% url 'main_active' work_field %}">
                        <div class="cool_btn">Отмена</div>
                    </a>
                    <div class="cool_btn">
                        <input type="submit" class="case_text" value="Изменить">
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block script %}
    <script>

        //Query All input fields
        let form_fields = document.getElementsByTagName('input');

        form_fields[1].placeholder = 'Название столбца';

        form_fields[1].className = "cool_text_input"
    </script>
{% endblock %}