{% extends 'auth/main_for_auth.html' %}

{% block login %}
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <div id="enter_blackout">
            <div id="enter_window">
                <p class="window_title">Вход</p>
                <input class="cool_text_input" type="text" placeholder="Логин" name="username">
                <input class="cool_text_input" type="password" placeholder="Пароль" name = "password">
                <div class="case">
                    <div class="cool_btn">
                        <input class="case_text" type="submit" value="Войти">
                    </div>
                </div>

                <div class="case">
                    <a class="window_bot" href="{% url 'register' %}">Нет аккаунта? Зарегестрироваться</a>
                </div>
            </div>
        </div>
    </form>


{% endblock %}