{% extends 'auth/main_for_auth.html' %}

{% block register %}
    <form method="POST">
        {% csrf_token %}
        <div id="register_blackout">
            <div id="register_window">
                <p class="window_title">Регистрация</p>
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                <div class="case">
                    <div class="cool_btn_resize">
                        <input class="case_text" type="submit" value="Зарегистрироваться">
                    </div>
                </div>
                <div class="case">
                    <a class="window_bot" href="{% url 'login' %}">Есть аккаунт? Войти</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block script %}
    <script>

		//Query All input fields
        let form_fields = document.getElementsByTagName('input');

        form_fields[1].placeholder='Логин';
		form_fields[2].placeholder='Email';
		form_fields[3].placeholder='Пароль';
		form_fields[4].placeholder='Повторите пароль';
        {#cool_text_input#}
        form_fields[1].className ="cool_text_input"
        form_fields[2].className="cool_text_input";
		form_fields[3].className="cool_text_input";
		form_fields[4].className="cool_text_input";
	</script>
{% endblock %}